[Unit]
Description=Telegram Store Boilerplate
After=network.target

[Service]
WorkingDirectory=/opt/tg-store-boilerplate
ExecStart=/opt/tg-store-boilerplate/.venv/bin/python -m app.main
Restart=always
RestartSec=5
EnvironmentFile=/opt/tg-store-boilerplate/.env

[Install]
WantedBy=multi-user.target